@import "tailwindcss";

body,
html {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
  transition: background-color 200ms linear, color 200ms linear;
}